<article class="listing">
  <div class="details">
    <h3>{{#link-to 'library.authors.showauthor' author}}{{this.author.authorname}}{{/link-to}}</h3>
    <div class="detail owner">
      <span>Country:</span> {{this.author.country}}
    </div>


    <!-- display book list here-->
    
    

  </div>
</article>
<!--
	<a onclick={{action "toggleImageSize"}} class="btn {{if this.isWide "h-100 w-100"}}" role="button">
   	<img src={{this.book.bookimgurl}} alt="">
    <small>View Larger</small>
	</a>
-->