<div class="mx-5 px-5">
<form>
	<div class="form-group">
		<label>Title</label>
		{{input type="text" class="form-control" value=title placeholder="Add Book Title..."}}
	</div>
	<!--
	<div class="form-group">
		<label>Book ID</label>
		{{input type="text" class="form-control" value=bookid placeholder="unique book id..."}}
	</div>
	-->
	<div class="form-group">
		<label>Author</label>
		<select onchange={{action "setSelection" value="target.value"}} >
			{{#each this.model as |author|}}
				<option value={{author.authorid}}>{{author.authorname}}</option>
			{{/each}}
			<!-- <option value="abc">ABC</option>
			<option value="def">DEF</option> -->
		</select>
	</div>
	<div class="form-group">
		<label>Publication</label>
		{{input type="text" class="form-control" value=publication placeholder="published by.."}}
	</div>
	<div class="form-group">
		<label>Year Of Publishing</label>
		{{input type="text" class="form-control" value=yop placeholder="year of release.."}}
	</div>
	<div class="form-group">
		<label>Description</label>
		{{textarea class="form-control" value=description placeholder="describe book here.."}}
	</div>
	<div class="form-group">
		<label>Path of image</label>
		{{textarea class="form-control" value=image placeholder="paste the path of the image here.."}}
	</div><center>
	<button {{action 'addBook'}} class="btn btn-primary">Submit</button> </center>
</form>
</div>
<hr>
<hr>
