{{outlet}}
<center>
<div class="mx-5 px-5">
<h1>Authors</h1>
<!--
{{#each this.model as |bookUnit|}}
  <BookListing @book={{bookUnit}} />
{{/each}}
-->
<!--
 <button {{action "findBooks" 1000}}>Click</button>
<div>
  {{#each this.bookrecords as |book|}}
    <h4>{{book.title}}</h4>
  {{/each}}
</div>
-->
<AuthorFilter @filter={{action "filterByAuthorName"}}
as |filteredResults|>
  <section>
    {{#each filteredResults as |authorUnit|}}
      {{this.findbooks authorUnit.authorid}}
      <AuthorListing @author={{authorUnit}} @actionauth={{action "findBooks"}}/>
    {{/each}}
  </section>

</AuthorFilter>


</div>
</center>