<div class="jumbo show-listing">
  <h2 class="title">{{this.model.authorrecord.authorname}}</h2>
  <div class="content">
      <!--
    <div>
      <img src={{this.model.bookimgurl}} class="rental-pic" alt="Picture of {{this.model.title}}">
    </div>
    -->
    <div class="detail-section">
      <div class="detail owner">
        <strong>Country:</strong> {{this.model.authorrecord.country}}
      </div>
    </div>
   <h5>Books :</h5>
    <ul>
      {{#each this.model.bookrecord as |book|}}
          <li>{{book.title}}</li>
      {{/each}}
    </ul>
  </div>
</div>
{{outlet}}