<div class="jumbo show-listing">
  <h2 class="title">{{this.model.authorname}}</h2>
  <div class="content">
      <!--
    <div>
      <img src={{this.model.bookimgurl}} class="rental-pic" alt="Picture of {{this.model.title}}">
    </div>
    -->
    <div class="detail-section">
      <div class="detail owner">
        <strong>Country:</strong> {{this.model.country}}
      </div>
    </div>
    <div>
      <a class="btn" {{action "findBook" this.model.authorid}}>View Books</a>
      
      {{#each this.showbooks as |book|}}
        <h4>{{book.title}}</h4>
      {{/each}}
    </div>
  </div>
</div>
{{outlet}}